<form action="/temperature_control/PUCHEROS_PLUS">
    <label for="P_val">P:</label>
    <input type="text"><br><br>
    <label for="I_val">I:</label>
    <input type="text"><br><br>
    <label for="D_val">D:</label>
    <input type="text"><br><br>
    <input type="submit" value="Set PID constants values"> 
</form>

<form action="/temperature_control/PUCHEROS_PLUS">
    <input type="submit" value="Read HAT controller state">  
</form>

<form action="/temperature_control/">
    <input type="submit" value="Back">
</form>