<!--<h1>Hello World</h1>-->
<!--{% if name %}
<h1>Hello {{name }}</h1>
{% else %}
<h1>Hello World</h1>
{% endif %}-->

<!--<html>
    <body>
        {% if name %}
        <h1>Hello {{name}}</h1>
        {% else %}
        <h1>Hello World</h1>
        {% endif %}
    </body>
</html>-->


<form action="/playground/hello">
    <label for="P_val">P:</label>
    <input type="text"><br><br>
    <label for="I_val">I:</label>
    <input type="text"><br><br>
    <label for="D_val">D:</label>
    <input type="text"><br><br>
    <input type="submit" value="Set PID constants values">
</form>